In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv(r"C:\Users\DELL\Documents\DCA\dca new dataset\1. youth-mortality-rate.csv")
df2 = pd.read_csv(r"C:\Users\DELL\Documents\DCA\dca new dataset\2. number-of-infant-deaths-unwpp.csv")
df3 = pd.read_csv(r"C:\Users\DELL\Documents\DCA\dca new dataset\3. child-mortality-by-income-level-of-country.csv")
df4 = pd.read_csv(r"C:\Users\DELL\Documents\DCA\dca new dataset\4. Distribution of Causes of Death among Children Aged less than 5 years.csv")
df5 = pd.read_csv(r"C:\Users\DELL\Documents\DCA\dca new dataset\5. number-of-maternal-deaths-by-region.csv")
df6 = pd.read_csv(r"C:\Users\DELL\Documents\DCA\dca new dataset\6. births-attended-by-health-staff-sdgs.csv")
df7 = pd.read_csv(r"C:\Users\DELL\Documents\DCA\dca new dataset\7. global-vaccination-coverage.csv")
df8 = pd.read_csv(r"C:\Users\DELL\Documents\DCA\dca new dataset\8. health-protection-coverage.csv")

In [3]:
df1.head()

        Entity Code  Year  Under-fifteen mortality rate
0  Afghanistan  AFG  1977                     30.110573
1  Afghanistan  AFG  1978                     29.290777
2  Afghanistan  AFG  1979                     28.479010
3  Afghanistan  AFG  1980                     27.649078
4  Afghanistan  AFG  1981                     26.834482

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10515 entries, 0 to 10514
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Entity                        10515 non-null  object
 1   Code                          9492 non-null   object
 2   Year                          10515 non-null  int64
 3   Under-fifteen mortality rate  10515 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 328.7+ KB

In [5]:
df1.isna().sum()

Entity                             0
Code                            1023
Year                               0
Under-fifteen mortality rate       0
dtype: int64

In [9]:
code_null = pd.isnull(df1['Code'])
all_code_null = df1[code_null]
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(all_code_null)

                                            Entity Code  Year  \
46                                          Africa  NaN  1990
47                                          Africa  NaN  1991
48                                          Africa  NaN  1992
49                                          Africa  NaN  1993
50                                          Africa  NaN  1994
51                                          Africa  NaN  1995
52                                          Africa  NaN  1996
53                                          Africa  NaN  1997
54                                          Africa  NaN  1998
55                                          Africa  NaN  1999
56                                          Africa  NaN  2000
57                                          Africa  NaN  2001
58                                          Africa  NaN  2002
59                                          Africa  NaN  2003
60                                          Africa  NaN  2004
61                                          Africa  NaN  2005
62                                          Africa  NaN  2006
63                                          Africa  NaN  2007
64                                          Africa  NaN  2008
65                                          Africa  NaN  2009
66                                          Africa  NaN  2010
67                                          Africa  NaN  2011
68                                          Africa  NaN  2012
69                                          Africa  NaN  2013
70                                          Africa  NaN  2014
71                                          Africa  NaN  2015
72                                          Africa  NaN  2016
73                                          Africa  NaN  2017
74                                          Africa  NaN  2018
75                                          Africa  NaN  2019
76                                          Africa  NaN  2020
77                                          Africa  NaN  2021
78                                          Africa  NaN  2022
376                                           Asia  NaN  1990
377                                           Asia  NaN  1991
378                                           Asia  NaN  1992
379                                           Asia  NaN  1993
380                                           Asia  NaN  1994
381                                           Asia  NaN  1995
382                                           Asia  NaN  1996
383                                           Asia  NaN  1997
384                                           Asia  NaN  1998
385                                           Asia  NaN  1999
386                                           Asia  NaN  2000
387                                           Asia  NaN  2001
388                                           Asia  NaN  2002
389                                           Asia  NaN  2003
390                                           Asia  NaN  2004
391                                           Asia  NaN  2005
392                                           Asia  NaN  2006
393                                           Asia  NaN  2007
394                                           Asia  NaN  2008
395                                           Asia  NaN  2009
396                                           Asia  NaN  2010
397                                           Asia  NaN  2011
398                                           Asia  NaN  2012
399                                           Asia  NaN  2013
400                                           Asia  NaN  2014
401                                           Asia  NaN  2015
402                                           Asia  NaN  2016
403                                           Asia  NaN  2017
404                                           Asia  NaN  2018
405                                           Asia  NaN  2019
406                                           Asia  NaN  2020
407                                           Asia  NaN  2021
408                                           Asia  NaN  2022
482                      Australia and New Zealand  NaN  1990
483                      Australia and New Zealand  NaN  1991
484                      Australia and New Zealand  NaN  1992
485                      Australia and New Zealand  NaN  1993
486                      Australia and New Zealand  NaN  1994
487                      Australia and New Zealand  NaN  1995
488                      Australia and New Zealand  NaN  1996
489                      Australia and New Zealand  NaN  1997
490                      Australia and New Zealand  NaN  1998
491                      Australia and New Zealand  NaN  1999
492                      Australia and New Zealand  NaN  2000
493                      Australia and New Zealand  NaN  2001
494                      Australia and New Zealand  NaN  2002
495                      Australia and New Zealand  NaN  2003
496                      Australia and New Zealand  NaN  2004
497                      Australia and New Zealand  NaN  2005
498                      Australia and New Zealand  NaN  2006
499                      Australia and New Zealand  NaN  2007
500                      Australia and New Zealand  NaN  2008
501                      Australia and New Zealand  NaN  2009
502                      Australia and New Zealand  NaN  2010
503                      Australia and New Zealand  NaN  2011
504                      Australia and New Zealand  NaN  2012
505                      Australia and New Zealand  NaN  2013
506                      Australia and New Zealand  NaN  2014
507                      Australia and New Zealand  NaN  2015
508                      Australia and New Zealand  NaN  2016
509                      Australia and New Zealand  NaN  2017
510                      Australia and New Zealand  NaN  2018
511                      Australia and New Zealand  NaN  2019
512                      Australia and New Zealand  NaN  2020
513                      Australia and New Zealand  NaN  2021
514                      Australia and New Zealand  NaN  2022
1712                            Central Asia (SDG)  NaN  1990
1713                            Central Asia (SDG)  NaN  1991
1714                            Central Asia (SDG)  NaN  1992
1715                            Central Asia (SDG)  NaN  1993
1716                            Central Asia (SDG)  NaN  1994
1717                            Central Asia (SDG)  NaN  1995
1718                            Central Asia (SDG)  NaN  1996
1719                            Central Asia (SDG)  NaN  1997
1720                            Central Asia (SDG)  NaN  1998
1721                            Central Asia (SDG)  NaN  1999
1722                            Central Asia (SDG)  NaN  2000
1723                            Central Asia (SDG)  NaN  2001
1724                            Central Asia (SDG)  NaN  2002
1725                            Central Asia (SDG)  NaN  2003
1726                            Central Asia (SDG)  NaN  2004
1727                            Central Asia (SDG)  NaN  2005
1728                            Central Asia (SDG)  NaN  2006
1729                            Central Asia (SDG)  NaN  2007
1730                            Central Asia (SDG)  NaN  2008
1731                            Central Asia (SDG)  NaN  2009
1732                            Central Asia (SDG)  NaN  2010
1733                            Central Asia (SDG)  NaN  2011
1734                            Central Asia (SDG)  NaN  2012
1735                            Central Asia (SDG)  NaN  2013
1736                            Central Asia (SDG)  NaN  2014
1737                            Central Asia (SDG)  NaN  2015
1738                            Central Asia (SDG)  NaN  2016
1739                            Central Asia (SDG)  NaN  2017
1740                            Central Asia (SDG)  NaN  2018
1741                            Central Asia (SDG)  NaN  2019
1742                            Central Asia (SDG)  NaN  2020
1743                            Central Asia (SDG)  NaN  2021
1744                            Central Asia (SDG)  NaN  2022
1745          Central Asia and Southern Asia (SDG)  NaN  1990
1746          Central Asia and Southern Asia (SDG)  NaN  1991
1747          Central Asia and Southern Asia (SDG)  NaN  1992
1748          Central Asia and Southern Asia (SDG)  NaN  1993
1749          Central Asia and Southern Asia (SDG)  NaN  1994
1750          Central Asia and Southern Asia (SDG)  NaN  1995
1751          Central Asia and Southern Asia (SDG)  NaN  1996
1752          Central Asia and Southern Asia (SDG)  NaN  1997
1753          Central Asia and Southern Asia (SDG)  NaN  1998
1754          Central Asia and Southern Asia (SDG)  NaN  1999
1755          Central Asia and Southern Asia (SDG)  NaN  2000
1756          Central Asia and Southern Asia (SDG)  NaN  2001
1757          Central Asia and Southern Asia (SDG)  NaN  2002
1758          Central Asia and Southern Asia (SDG)  NaN  2003
1759          Central Asia and Southern Asia (SDG)  NaN  2004
1760          Central Asia and Southern Asia (SDG)  NaN  2005
1761          Central Asia and Southern Asia (SDG)  NaN  2006
1762          Central Asia and Southern Asia (SDG)  NaN  2007
1763          Central Asia and Southern Asia (SDG)  NaN  2008
1764          Central Asia and Southern Asia (SDG)  NaN  2009
1765          Central Asia and Southern Asia (SDG)  NaN  2010
1766          Central Asia and Southern Asia (SDG)  NaN  2011
1767          Central Asia and Southern Asia (SDG)  NaN  2012
1768          Central Asia and Southern Asia (SDG)  NaN  2013
1769          Central Asia and Southern Asia (SDG)  NaN  2014
1770          Central Asia and Southern Asia (SDG)  NaN  2015
1771          Central Asia and Southern Asia (SDG)  NaN  2016
1772          Central Asia and Southern Asia (SDG)  NaN  2017
1773          Central Asia and Southern Asia (SDG)  NaN  2018
1774          Central Asia and Southern Asia (SDG)  NaN  2019
1775          Central Asia and Southern Asia (SDG)  NaN  2020
1776          Central Asia and Southern Asia (SDG)  NaN  2021
1777          Central Asia and Southern Asia (SDG)  NaN  2022
2638                            Eastern Asia (SDG)  NaN  1990
2639                            Eastern Asia (SDG)  NaN  1991
2640                            Eastern Asia (SDG)  NaN  1992
2641                            Eastern Asia (SDG)  NaN  1993
2642                            Eastern Asia (SDG)  NaN  1994
2643                            Eastern Asia (SDG)  NaN  1995
2644                            Eastern Asia (SDG)  NaN  1996
2645                            Eastern Asia (SDG)  NaN  1997
2646                            Eastern Asia (SDG)  NaN  1998
2647                            Eastern Asia (SDG)  NaN  1999
2648                            Eastern Asia (SDG)  NaN  2000
2649                            Eastern Asia (SDG)  NaN  2001
2650                            Eastern Asia (SDG)  NaN  2002
2651                            Eastern Asia (SDG)  NaN  2003
2652                            Eastern Asia (SDG)  NaN  2004
2653                            Eastern Asia (SDG)  NaN  2005
2654                            Eastern Asia (SDG)  NaN  2006
2655                            Eastern Asia (SDG)  NaN  2007
2656                            Eastern Asia (SDG)  NaN  2008
2657                            Eastern Asia (SDG)  NaN  2009
2658                            Eastern Asia (SDG)  NaN  2010
2659                            Eastern Asia (SDG)  NaN  2011
2660                            Eastern Asia (SDG)  NaN  2012
2661                            Eastern Asia (SDG)  NaN  2013
2662                            Eastern Asia (SDG)  NaN  2014
2663                            Eastern Asia (SDG)  NaN  2015
2664                            Eastern Asia (SDG)  NaN  2016
2665                            Eastern Asia (SDG)  NaN  2017
2666                            Eastern Asia (SDG)  NaN  2018
2667                            Eastern Asia (SDG)  NaN  2019
2668                            Eastern Asia (SDG)  NaN  2020
2669                            Eastern Asia (SDG)  NaN  2021
2670                            Eastern Asia (SDG)  NaN  2022
2671     Eastern Asia and South-Eastern Asia (SDG)  NaN  1990
2672     Eastern Asia and South-Eastern Asia (SDG)  NaN  1991
2673     Eastern Asia and South-Eastern Asia (SDG)  NaN  1992
2674     Eastern Asia and South-Eastern Asia (SDG)  NaN  1993
2675     Eastern Asia and South-Eastern Asia (SDG)  NaN  1994
2676     Eastern Asia and South-Eastern Asia (SDG)  NaN  1995
2677     Eastern Asia and South-Eastern Asia (SDG)  NaN  1996
2678     Eastern Asia and South-Eastern Asia (SDG)  NaN  1997
2679     Eastern Asia and South-Eastern Asia (SDG)  NaN  1998
2680     Eastern Asia and South-Eastern Asia (SDG)  NaN  1999
2681     Eastern Asia and South-Eastern Asia (SDG)  NaN  2000
2682     Eastern Asia and South-Eastern Asia (SDG)  NaN  2001
2683     Eastern Asia and South-Eastern Asia (SDG)  NaN  2002
2684     Eastern Asia and South-Eastern Asia (SDG)  NaN  2003
2685     Eastern Asia and South-Eastern Asia (SDG)  NaN  2004
2686     Eastern Asia and South-Eastern Asia (SDG)  NaN  2005
2687     Eastern Asia and South-Eastern Asia (SDG)  NaN  2006
2688     Eastern Asia and South-Eastern Asia (SDG)  NaN  2007
2689     Eastern Asia and South-Eastern Asia (SDG)  NaN  2008
2690     Eastern Asia and South-Eastern Asia (SDG)  NaN  2009
2691     Eastern Asia and South-Eastern Asia (SDG)  NaN  2010
2692     Eastern Asia and South-Eastern Asia (SDG)  NaN  2011
2693     Eastern Asia and South-Eastern Asia (SDG)  NaN  2012
2694     Eastern Asia and South-Eastern Asia (SDG)  NaN  2013
2695     Eastern Asia and South-Eastern Asia (SDG)  NaN  2014
2696     Eastern Asia and South-Eastern Asia (SDG)  NaN  2015
2697     Eastern Asia and South-Eastern Asia (SDG)  NaN  2016
2698     Eastern Asia and South-Eastern Asia (SDG)  NaN  2017
2699     Eastern Asia and South-Eastern Asia (SDG)  NaN  2018
2700     Eastern Asia and South-Eastern Asia (SDG)  NaN  2019
2701     Eastern Asia and South-Eastern Asia (SDG)  NaN  2020
2702     Eastern Asia and South-Eastern Asia (SDG)  NaN  2021
2703     Eastern Asia and South-Eastern Asia (SDG)  NaN  2022
3034                                        Europe  NaN  1990
3035                                        Europe  NaN  1991
3036                                        Europe  NaN  1992
3037                                        Europe  NaN  1993
3038                                        Europe  NaN  1994
3039                                        Europe  NaN  1995
3040                                        Europe  NaN  1996
3041                                        Europe  NaN  1997
3042                                        Europe  NaN  1998
3043                                        Europe  NaN  1999
3044                                        Europe  NaN  2000
3045                                        Europe  NaN  2001
3046                                        Europe  NaN  2002
3047                                        Europe  NaN  2003
3048                                        Europe  NaN  2004
3049                                        Europe  NaN  2005
3050                                        Europe  NaN  2006
3051                                        Europe  NaN  2007
3052                                        Europe  NaN  2008
3053                                        Europe  NaN  2009
3054                                        Europe  NaN  2010
3055                                        Europe  NaN  2011
3056                                        Europe  NaN  2012
3057                                        Europe  NaN  2013
3058                                        Europe  NaN  2014
3059                                        Europe  NaN  2015
3060                                        Europe  NaN  2016
3061                                        Europe  NaN  2017
3062                                        Europe  NaN  2018
3063                                        Europe  NaN  2019
3064                                        Europe  NaN  2020
3065                                        Europe  NaN  2021
3066                                        Europe  NaN  2022
3067                                  Europe (SDG)  NaN  1990
3068                                  Europe (SDG)  NaN  1991
3069                                  Europe (SDG)  NaN  1992
3070                                  Europe (SDG)  NaN  1993
3071                                  Europe (SDG)  NaN  1994
3072                                  Europe (SDG)  NaN  1995
3073                                  Europe (SDG)  NaN  1996
3074                                  Europe (SDG)  NaN  1997
3075                                  Europe (SDG)  NaN  1998
3076                                  Europe (SDG)  NaN  1999
3077                                  Europe (SDG)  NaN  2000
3078                                  Europe (SDG)  NaN  2001
3079                                  Europe (SDG)  NaN  2002
3080                                  Europe (SDG)  NaN  2003
3081                                  Europe (SDG)  NaN  2004
3082                                  Europe (SDG)  NaN  2005
3083                                  Europe (SDG)  NaN  2006
3084                                  Europe (SDG)  NaN  2007
3085                                  Europe (SDG)  NaN  2008
3086                                  Europe (SDG)  NaN  2009
3087                                  Europe (SDG)  NaN  2010
3088                                  Europe (SDG)  NaN  2011
3089                                  Europe (SDG)  NaN  2012
3090                                  Europe (SDG)  NaN  2013
3091                                  Europe (SDG)  NaN  2014
3092                                  Europe (SDG)  NaN  2015
3093                                  Europe (SDG)  NaN  2016
3094                                  Europe (SDG)  NaN  2017
3095                                  Europe (SDG)  NaN  2018
3096                                  Europe (SDG)  NaN  2019
3097                                  Europe (SDG)  NaN  2020
3098                                  Europe (SDG)  NaN  2021
3099                                  Europe (SDG)  NaN  2022
3100                           European Union (27)  NaN  1990
3101                           European Union (27)  NaN  1991
3102                           European Union (27)  NaN  1992
3103                           European Union (27)  NaN  1993
3104                           European Union (27)  NaN  1994
3105                           European Union (27)  NaN  1995
3106                           European Union (27)  NaN  1996
3107                           European Union (27)  NaN  1997
3108                           European Union (27)  NaN  1998
3109                           European Union (27)  NaN  1999
3110                           European Union (27)  NaN  2000
3111                           European Union (27)  NaN  2001
3112                           European Union (27)  NaN  2002
3113                           European Union (27)  NaN  2003
3114                           European Union (27)  NaN  2004
3115                           European Union (27)  NaN  2005
3116                           European Union (27)  NaN  2006
3117                           European Union (27)  NaN  2007
3118                           European Union (27)  NaN  2008
3119                           European Union (27)  NaN  2009
3120                           European Union (27)  NaN  2010
3121                           European Union (27)  NaN  2011
3122                           European Union (27)  NaN  2012
3123                           European Union (27)  NaN  2013

In [11]:
df2.head()

        Entity Code  Year  Deaths - Sex: all - Age: 0 - Variant: estimates
0  Afghanistan  AFG  1950                                         109220.0
1  Afghanistan  AFG  1951                                         107971.0
2  Afghanistan  AFG  1952                                         108140.0
3  Afghanistan  AFG  1953                                         108248.0
4  Afghanistan  AFG  1954                                         108241.0

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Data columns (total 4 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           18944 non-null  object
 1   Code                                             17612 non-null  object
 2   Year                                             18944 non-null  int64
 3   Deaths - Sex: all - Age: 0 - Variant: estimates  18944 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 592.1+ KB

In [13]:
df3.head()

,Entity,Code,Year,Observation value - Indicator: Under-five mortality rate - Sex: Total - Wealth quintile: Total - Unit of measure: Deaths per 100 live births
0,Afghanistan,AFG,1957,37.245758
1,Afghanistan,AFG,1958,36.626625
2,Afghanistan,AFG,1959,36.043480
3,Afghanistan,AFG,1960,35.459850
4,Afghanistan,AFG,1961,34.894880

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14200 entries, 0 to 14199
Data columns (total 4 columns):
 #   Column                                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                                        --------------  -----
 0   Entity                                                                                                                                        14200 non-null  object
 1   Code                                                                                                                                          12842 non-null  object
 2   Year                                                                                                                                          14200 non-null  int64
 3   Observation value - Indicator: Under-five mortality rate - Sex: Total - Wealth quintile: Total - Unit of measure: Deaths per 100 live births  14200 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 443.9+ KB

In [17]:
df4.head(3)

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MORT_300,Distribution of causes of death among children...,numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2017,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,EN,2018-11-26T23:00:00.000Z
1,MORT_300,Distribution of causes of death among children...,numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2017,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,EN,2018-11-26T23:00:00.000Z
2,MORT_300,Distribution of causes of death among children...,numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2017,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,EN,2018-11-26T23:00:00.000Z

In [16]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146664 entries, 0 to 146663
Data columns (total 34 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   IndicatorCode               146664 non-null  object
 1   Indicator                   146664 non-null  object
 2   ValueType                   146664 non-null  object
 3   ParentLocationCode          146664 non-null  object
 4   ParentLocation              146664 non-null  object
 5   Location type               146664 non-null  object
 6   SpatialDimValueCode         146664 non-null  object
 7   Location                    146664 non-null  object
 8   Period type                 146664 non-null  object
 9   Period                      146664 non-null  int64
 10  IsLatestYear                146664 non-null  bool
 11  Dim1 type                   146664 non-null  object
 12  Dim1                        146664 non-null  object
 13  Dim1ValueCode               146664 non-null  object
 14  Dim2 type                   146664 non-null  object
 15  Dim2                        146664 non-null  object
 16  Dim2ValueCode               146664 non-null  object
 17  Dim3 type                   0 non-null       float64
 18  Dim3                        0 non-null       float64
 19  Dim3ValueCode               0 non-null       float64
 20  DataSourceDimValueCode      0 non-null       float64
 21  DataSource                  0 non-null       float64
 22  FactValueNumericPrefix      0 non-null       float64
 23  FactValueNumeric            146664 non-null  float64
 24  FactValueUoM                0 non-null       float64
 25  FactValueNumericLowPrefix   0 non-null       float64
 26  FactValueNumericLow         0 non-null       float64
 27  FactValueNumericHighPrefix  0 non-null       float64
 28  FactValueNumericHigh        0 non-null       float64
 29  Value                       146664 non-null  float64
 30  FactValueTranslationID      0 non-null       float64
 31  FactComments                0 non-null       float64
 32  Language                    146664 non-null  object
 33  DateModified                146664 non-null  object
dtypes: bool(1), float64(15), int64(1), object(17)
memory usage: 37.1+ MB

In [18]:
df4.isna().sum()

IndicatorCode                      0
Indicator                          0
ValueType                          0
ParentLocationCode                 0
ParentLocation                     0
Location type                      0
SpatialDimValueCode                0
Location                           0
Period type                        0
Period                             0
IsLatestYear                       0
Dim1 type                          0
Dim1                               0
Dim1ValueCode                      0
Dim2 type                          0
Dim2                               0
Dim2ValueCode                      0
Dim3 type                     146664
Dim3                          146664
Dim3ValueCode                 146664
DataSourceDimValueCode        146664
DataSource                    146664
FactValueNumericPrefix        146664
FactValueNumeric                   0
FactValueUoM                  146664
FactValueNumericLowPrefix     146664
FactValueNumericLow           146664
FactValueNumericHighPrefix    146664
FactValueNumericHigh          146664
Value                              0
FactValueTranslationID        146664
FactComments                  146664
Language                           0
DateModified                       0
dtype: int64

In [20]:
df4.dropna(axis=1)

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,Dim1 type,Dim1,Dim1ValueCode,Dim2 type,Dim2,Dim2ValueCode,FactValueNumeric,Value,Language,DateModified
0,MORT_300,Distribution of causes of death among children...,numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2017,...,Age Group,0-27 days,AGEGROUP_DAYS0-27,Cause of death,Other noncommunicable diseases,CHILDCAUSE_CH16,0.0006,0.0,EN,2018-11-26T23:00:00.000Z
1,MORT_300,Distribution of causes of death among children...,numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2017,...,Age Group,0-27 days,AGEGROUP_DAYS0-27,Cause of death,Injuries,CHILDCAUSE_CH17,0.0110,0.0,EN,2018-11-26T23:00:00.000Z
2,MORT_300,Distribution of causes of death among children...,numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2017,...,Age Group,0-27 days,AGEGROUP_DAYS0-27,Cause of death,HIV/AIDS,CHILDCAUSE_CH2,0.0000,0.0,EN,2018-11-26T23:00:00.000Z
3,MORT_300,Distribution of causes of death among children...,numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2017,...,Age Group,0-27 days,AGEGROUP_DAYS0-27,Cause of death,Diarrhoeal diseases,CHILDCAUSE_CH3,0.0110,0.0,EN,2018-11-26T23:00:00.000Z
4,MORT_300,Distribution of causes of death among children...,numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2017,...,Age Group,0-27 days,AGEGROUP_DAYS0-27,Cause of death,Tetanus,CHILDCAUSE_CH5,0.0270,0.0,EN,2018-11-26T23:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146659,MORT_300,Distribution of causes of death among children...,numeric,EUR,Europe,Country,GBR,United Kingdom of Great Britain and Northern I...,Year,2000,...,Age Group,0-27 days,AGEGROUP_DAYS0-27,Cause of death,Prematurity,CHILDCAUSE_CH10,0.5600,0.6,EN,2018-11-26T23:00:00.000Z
146660,MORT_300,Distribution of causes of death among children...,numeric,EUR,Europe,Country,AND,Andorra,Year,2000,...,Age Group,0-4 years,AGEGROUP_YEARS0-4,Cause of death,Prematurity,CHILDCAUSE_CH10,0.6600,0.7,EN,2018-11-26T23:00:00.000Z
146661,MORT_300,Distribution of causes of death among children...,numeric,EUR,Europe,Country,AND,Andorra,Year,2000,...,Age Group,0-27 days,AGEGROUP_DAYS0-27,Cause of death,Prematurity,CHILDCAUSE_CH10,1.0000,1.0,EN,2018-11-26T23:00:00.000Z
146662,MORT_300,Distribution of causes of death among children...,numeric,EUR,Europe,Country,SMR,San Marino,Year,2000,...,Age Group,1-59 months,AGEGROUP_MONTHS1-59,Cause of death,Congenital anomalies,CHILDCAUSE_CH15,1.0000,1.0,EN,2018-11-26T23:00:00.000Z
146663,MORT_300,Distribution of causes of death among children...,numeric,EUR,Europe,Country,SMR,San Marino,Year,2000,...,Age Group,0-4 years,AGEGROUP_YEARS0-4,Cause of death,Congenital anomalies,CHILDCAUSE_CH15,1.0000,1.0,EN,2018-11-26T23:00:00.000Z

In [21]:
df5.head()

        Entity Code  Year  Estimated maternal deaths 959828-annotations
0  Afghanistan  AFG  1985                 10258.5340                NaN
1  Afghanistan  AFG  1986                  8671.9210                NaN
2  Afghanistan  AFG  1987                  8488.9600                NaN
3  Afghanistan  AFG  1988                  7522.1216                NaN
4  Afghanistan  AFG  1989                  7549.7050                NaN

In [22]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7056 entries, 0 to 7055
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Entity                     7056 non-null   object
 1   Code                       6696 non-null   object
 2   Year                       7056 non-null   int64
 3   Estimated maternal deaths  7056 non-null   float64
 4   959828-annotations         36 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 275.8+ KB

In [23]:
df5.isna().sum()

Entity                          0
Code                          360
Year                            0
Estimated maternal deaths       0
959828-annotations           7020
dtype: int64

In [24]:
df5.drop('959828-annotations',axis=1,inplace=True)

In [25]:
df6.head()

,Entity,Code,Year,Births attended by skilled health staff (% of total)
0,Afghanistan,AFG,2000,12.4
1,Afghanistan,AFG,2003,14.3
2,Afghanistan,AFG,2006,18.9
3,Afghanistan,AFG,2008,24.0
4,Afghanistan,AFG,2010,34.3

In [26]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985 entries, 0 to 2984
Data columns (total 4 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                2985 non-null   object
 1   Code                                                  2943 non-null   object
 2   Year                                                  2985 non-null   int64
 3   Births attended by skilled health staff (% of total)  2985 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 93.4+ KB

In [27]:
df7.head()

,Entity,Code,Year,BCG (% of one-year-olds immunized),HepB3 (% of one-year-olds immunized),Hib3 (% of one-year-olds immunized),IPV1 (% of one-year-olds immunized),MCV1 (% of one-year-olds immunized),PCV3 (% of one-year-olds immunized),Pol3 (% of one-year-olds immunized),RCV1 (% of one-year-olds immunized),RotaC (% of one-year-olds immunized),YFV (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized)
0,Afghanistan,AFG,1982,10.0,NaN,NaN,NaN,8.0,NaN,5.0,NaN,NaN,NaN,5.0
1,Afghanistan,AFG,1983,10.0,NaN,NaN,NaN,9.0,NaN,5.0,NaN,NaN,NaN,5.0
2,Afghanistan,AFG,1984,11.0,NaN,NaN,NaN,14.0,NaN,16.0,NaN,NaN,NaN,16.0
3,Afghanistan,AFG,1985,17.0,NaN,NaN,NaN,14.0,NaN,15.0,NaN,NaN,NaN,15.0
4,Afghanistan,AFG,1986,18.0,NaN,NaN,NaN,14.0,NaN,11.0,NaN,NaN,NaN,11.0

In [28]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7897 entries, 0 to 7896
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Entity                                7897 non-null   object
 1   Code                                  7645 non-null   object
 2   Year                                  7897 non-null   int64
 3   BCG (% of one-year-olds immunized)    6497 non-null   float64
 4   HepB3 (% of one-year-olds immunized)  4436 non-null   float64
 5   Hib3 (% of one-year-olds immunized)   3629 non-null   float64
 6   IPV1 (% of one-year-olds immunized)   1297 non-null   float64
 7   MCV1 (% of one-year-olds immunized)   7728 non-null   float64
 8   PCV3 (% of one-year-olds immunized)   1497 non-null   float64
 9   Pol3 (% of one-year-olds immunized)   7855 non-null   float64
 10  RCV1 (% of one-year-olds immunized)   4198 non-null   float64
 11  RotaC (% of one-year-olds immunized)  1039 non-null   float64
 12  YFV (% of one-year-olds immunized)    824 non-null    float64
 13  DTP3 (% of one-year-olds immunized)   7854 non-null   float64
dtypes: float64(11), int64(1), object(2)
memory usage: 863.9+ KB

In [29]:
df7.isna().sum()

Entity                                     0
Code                                     252
Year                                       0
BCG (% of one-year-olds immunized)      1400
HepB3 (% of one-year-olds immunized)    3461
Hib3 (% of one-year-olds immunized)     4268
IPV1 (% of one-year-olds immunized)     6600
MCV1 (% of one-year-olds immunized)      169
PCV3 (% of one-year-olds immunized)     6400
Pol3 (% of one-year-olds immunized)       42
RCV1 (% of one-year-olds immunized)     3699
RotaC (% of one-year-olds immunized)    6858
YFV (% of one-year-olds immunized)      7073
DTP3 (% of one-year-olds immunized)       43
dtype: int64

In [39]:
df7.drop(["BCG (% of one-year-olds immunized)","HepB3 (% of one-year-olds immunized)","Hib3 (% of one-year-olds immunized)","IPV1 (% of one-year-olds immunized)","PCV3 (% of one-year-olds immunized)","RCV1 (% of one-year-olds immunized)","RotaC (% of one-year-olds immunized)","YFV (% of one-year-olds immunized)"],axis=1,inplace=True)

In [30]:
df8.head()

,Entity,Code,Year,Share of population covered by health insurance (ILO (2014))
0,Albania,ALB,2008,23.6
1,Algeria,DZA,2005,85.2
2,American Samoa,ASM,2009,3.0
3,Angola,AGO,2010,0.0
4,Antigua and Barbuda,ATG,2007,51.1

In [32]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 4 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Entity                                                        162 non-null    object
 1   Code                                                          162 non-null    object
 2   Year                                                          162 non-null    int64
 3   Share of population covered by health insurance (ILO (2014))  162 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 5.2+ KB

In [33]:
df8['Code'].unique()

array(['ALB', 'DZA', 'ASM', 'AGO', 'ATG', 'ARG', 'ARM', 'ABW', 'AUS',
       'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL', 'BLZ',
       'BEN', 'BTN', 'BOL', 'BIH', 'BRA', 'BRN', 'BGR', 'BFA', 'BDI',
       'KHM', 'CMR', 'CAN', 'CAF', 'CHL', 'CHN', 'COL', 'CRI', 'CIV',
       'HRV', 'CUB', 'CYP', 'CZE', 'COD', 'DNK', 'DJI', 'DMA', 'DOM',
       'ECU', 'EGY', 'SLV', 'EST', 'SWZ', 'FJI', 'FIN', 'FRA', 'GAB',
       'GMB', 'GEO', 'DEU', 'GHA', 'GRC', 'GRD', 'GTM', 'GIN', 'GNB',
       'GUY', 'HTI', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN',
       'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KEN', 'KWT',
       'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LIE', 'LTU', 'LUX', 'MDG',
       'MYS', 'MDV', 'MLI', 'MLT', 'MRT', 'MUS', 'MEX', 'MDA', 'MNG',
       'MNE', 'MAR', 'NAM', 'NPL', 'NLD', 'NZL', 'NIC', 'NER', 'NGA',
       'MKD', 'NOR', 'OMN', 'PAK', 'PSE', 'PAN', 'PRY', 'PER', 'PHL',
       'POL', 'PRT', 'QAT', 'ROU', 'RUS', 'RWA', 'KNA', 'LCA', 'VCT',
       'STP', 'SEN', 'SRB', 'SLE', 'SGP', 'SVK', 'SVN', 'ZAF', 'KOR',
       'ESP', 'LKA', 'SDN', 'SWE', 'CHE', 'SYR', 'TWN', 'TJK', 'TZA',
       'THA', 'TGO', 'TUN', 'TUR', 'TKM', 'UGA', 'UKR', 'ARE', 'GBR',
       'USA', 'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'YEM', 'ZMB', 'ZWE'],
      dtype=object)

In [31]:
df8.isna().sum()

Entity                                                          0
Code                                                            0
Year                                                            0
Share of population covered by health insurance (ILO (2014))    0
dtype: int64

In [34]:
table8_1 = pd.merge(df8, df1,on=["Code","Entity","Year"],how='inner')
table8_1

,Entity,Code,Year,Share of population covered by health insurance (ILO (2014)),Under-fifteen mortality rate
0,Albania,ALB,2008,23.6,1.874343
1,Algeria,DZA,2005,85.2,3.870090
2,Angola,AGO,2010,0.0,14.276301
3,Antigua and Barbuda,ATG,2007,51.1,1.516073
4,Argentina,ARG,2009,96.8,1.757432
...,...,...,...,...,...
152,Venezuela,VEN,2010,100.0,2.059798
153,Vietnam,VNM,2010,61.0,2.676529
154,Yemen,YEM,2003,42.0,8.942325
155,Zambia,ZMB,2008,8.4,10.320874
156,Zimbabwe,ZWE,2009,1.0,10.439614

In [40]:
table8_1_2 = table8_1.merge(df2,how='inner',on=["Code","Entity","Year"])
table8_1_2_3 = table8_1_2.merge(df3,how='inner',on=["Code","Entity","Year"])
table8_1_2_3_4 = table8_1_2_3.merge(df4,how='inner',left_on=["Code","Entity","Year"],right_on=["SpatialDimValueCode","Location","Period"])
table8_1_2_3_4_5 = table8_1_2_3_4.merge(df5,how='inner',on=["Code","Entity","Year"])
table8_1_2_3_4_5_6 = table8_1_2_3_4_5.merge(df6,how='inner',on=["Code","Entity","Year"])
table8_1_2_3_4_5_6_7 = table8_1_2_3_4_5_6.merge(df7,how='inner',on=["Code","Entity","Year"])

table8_1_2_3_4_5_6_7

,Entity,Code,Year,Share of population covered by health insurance (ILO (2014)),Under-fifteen mortality rate,Deaths - Sex: all - Age: 0 - Variant: estimates,Observation value - Indicator: Under-five mortality rate - Sex: Total - Wealth quintile: Total - Unit of measure: Deaths per 100 live births,IndicatorCode,Indicator,ValueType,...,Value,FactValueTranslationID,FactComments,Language,DateModified,Estimated maternal deaths,Births attended by skilled health staff (% of total),MCV1 (% of one-year-olds immunized),Pol3 (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized)
0,Antigua and Barbuda,ATG,2007,51.1,1.516073,13.0,1.267723,MORT_300,Distribution of causes of death among children...,numeric,...,0.0,NaN,NaN,EN,2018-11-26T23:00:00.000Z,0.337182,100.0,99.0,98.0,99.0
1,Antigua and Barbuda,ATG,2007,51.1,1.516073,13.0,1.267723,MORT_300,Distribution of causes of death among children...,numeric,...,0.0,NaN,NaN,EN,2018-11-26T23:00:00.000Z,0.337182,100.0,99.0,98.0,99.0
2,Antigua and Barbuda,ATG,2007,51.1,1.516073,13.0,1.267723,MORT_300,Distribution of causes of death among children...,numeric,...,0.0,NaN,NaN,EN,2018-11-26T23:00:00.000Z,0.337182,100.0,99.0,98.0,99.0
3,Antigua and Barbuda,ATG,2007,51.1,1.516073,13.0,1.267723,MORT_300,Distribution of causes of death among children...,numeric,...,0.0,NaN,NaN,EN,2018-11-26T23:00:00.000Z,0.337182,100.0,99.0,98.0,99.0
4,Antigua and Barbuda,ATG,2007,51.1,1.516073,13.0,1.267723,MORT_300,Distribution of causes of death among children...,numeric,...,0.0,NaN,NaN,EN,2018-11-26T23:00:00.000Z,0.337182,100.0,99.0,98.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3817,Zimbabwe,ZWE,2009,1.0,10.439614,28041.0,9.022324,MORT_300,Distribution of causes of death among children...,numeric,...,0.2,NaN,NaN,EN,2018-11-26T23:00:00.000Z,3141.773700,60.2,76.0,69.0,73.0
3818,Zimbabwe,ZWE,2009,1.0,10.439614,28041.0,9.022324,MORT_300,Distribution of causes of death among children...,numeric,...,0.2,NaN,NaN,EN,2018-11-26T23:00:00.000Z,3141.773700,60.2,76.0,69.0,73.0
3819,Zimbabwe,ZWE,2009,1.0,10.439614,28041.0,9.022324,MORT_300,Distribution of causes of death among children...,numeric,...,0.2,NaN,NaN,EN,2018-11-26T23:00:00.000Z,3141.773700,60.2,76.0,69.0,73.0
3820,Zimbabwe,ZWE,2009,1.0,10.439614,28041.0,9.022324,MORT_300,Distribution of causes of death among children...,numeric,...,0.3,NaN,NaN,EN,2018-11-26T23:00:00.000Z,3141.773700,60.2,76.0,69.0,73.0
3821,Zimbabwe,ZWE,2009,1.0,10.439614,28041.0,9.022324,MORT_300,Distribution of causes of death among children...,numeric,...,0.3,NaN,NaN,EN,2018-11-26T23:00:00.000Z,3141.773700,60.2,76.0,69.0,73.0

In [41]:
table8_1_2_3_4_5_6_7.to_csv("child_mortality.csv")